body {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.ai-s {
  align-items: start;
}

.grid {
  display: grid;
}

.rg-20 {
  row-gap: 20px;
}

.rg-40 {
  row-gap: 40px;
}

.cg-20 {
  column-gap: 20px;
}

.cg-40 {
  column-gap: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-20 {
  padding: 20px;
}
